vendor/
.env
.idea/
node_modules/
.DS_Store
*.log
coverage/
storage/debugbar/
storage/*.key
storage/app/public/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/
uploads/ 
/build
/dist
.vscode
*.iml
*.class
*.jar
*.war
*.exe
composer.lock
package-lock.json